This is our first class of Python programming.
TextBook: Smarter way to learn Python

# Print()

In [58]:
print(12)
print(weight)

12
70.5

In [2]:
print("pakistan")

pakistan

In [3]:
print(12,34,67,89)

12 34 67 89

In [4]:
print("pakistan","China", )

pakistan China

In [9]:
print("Pakistan","China", "India",sep="*******")

Pakistan*******China*******India

In [10]:
print("Pakistan")  #escape character(\n)
print("China")
print("India")

Pakistan
China
India

In [ ]:
print("Pakistan",end='\t\t\t')  #escape character(\n)
print("China",end='\t\t\t')
print("India")

# Task1

you will have to list down all the escape characters in python language.
Implement every escape character

In [19]:
print("Pakistan is a wonderful \\n country ", "China", "India",sep = '\n')

Pakistan is a wonderful \n country
China
India

# 2
Variables for Strings

Data: Numbers >>> Numeric 
      integers, decimals>>>>
      
      Characters>>>>String>>> it always quoted
      Boolean >> True, False >>>>0 ,1 
      
 Category of data is "DATA TYPE"

What is variable??

Variable >>> placeholder

In [20]:
name = "Nasir Hussain"

In [21]:
print(name)

Nasir Hussain

In [24]:
age = 45  # 45 is assigned to varaible age

In [25]:
age = 50

In [26]:
age

50

In [37]:
_st_Student_ = "ahmed"

In [38]:
_ = "asad"

In [40]:
Else = "asad"

In [43]:
taxation_rate_of_year_2019 = "11%"

In [44]:
taxationRateOfYear2019="12%"

# Varaibles for numbers

In [52]:
weight = 65.5

In [56]:
weight = weight+5

In [57]:
weight

70.5

In [59]:
2+3.4

5.4

In [60]:
10/10   #by default division is floating point

1.0

In [62]:
10//10

1

In [63]:
10.0//10

1.0

# Math expressions: Unfamiliar operators

In [64]:
#modulo operator returns remainder of the division

In [69]:
45%10

5

In [70]:
# increment , decrement

In [71]:
price = 100

In [76]:
price = price+10
price

150

In [96]:
price //=10
price

110.0

In [100]:
round(10/3,1)

3.3

# Math expressions: Eliminating ambiguity

In [101]:
ans = 2+3*10/2

In [102]:
ans

17.0

In [103]:
res = 1/2*5+4/2
res

4.5

In [104]:
res1 = 10/2**3/3
res1

0.4166666666666667

In [105]:
10/8

1.25

In [106]:
1.25/3

0.4166666666666667

# Concatenating text strings

In [127]:
firstName  = "Nasir"
lastName = "Hussain"

In [128]:
fullName = firstName +" " + lastName
fullName

'Nasir Hussain'

In [130]:
name = "Usama"
age  = 20
sentence = "my name is "+name+" and my age is "+str(age)

my name is  Usama  and my age is 20

In [122]:
sentence

'my name is Usama and my age is 20'

In [125]:
dosraSentence = "after 10 years my age will be "+ str(age+10)

In [126]:
dosraSentence

'after 10 years my age will be 30'

In [131]:
name = "Usama"
age  = 20
print("my name is ",name," and my age is",age)

my name is  Usama  and my age is 20

In [138]:
name  = input("Enter your good name pls:")
age  = int(input("Enter your age pls:"))

Enter your good name pls:>Hassan
Enter your age pls:>50

In [142]:
print("Welcome Mr.{1} I know your age is {0}".format(name,age))

Welcome Mr.50 I know your age is Hassan

In [143]:
name  = input("Enter your good name pls:")

age  = int(input("Enter your age pls:"))

print(f"Welcome Mr.{name} I know your age is {age}")

Enter your good name pls:Ali
Enter your age pls:34
Welcome Mr.Ali  I know your age is 34