In [19]:
a=100

In [20]:
a+10

110

In [21]:
a

100

In [22]:
a=a+10

In [23]:
a

110

In [28]:
a //=10
a

0

In [36]:
a = 'apple'
b = '100'

In [37]:
a+str(b)

'apple100'

In [39]:
b*5

'100100100100100'

In [70]:
name = input("Bhai jan name bataen")
age  = int(input ("age bataen"))

Bhai jan name bataennasir
age bataen12

In [72]:
print("my name is"+ name+ "and my age is "+str(age) )

my name isnasirand my age is 12

In [82]:
print("my name is {} and my age is {}".format(name,age))

my name is nasir and my age is 12

In [85]:
name = input("Bhai jan name bataen")
age  = int(input ("age bataen"))
print(f"my name is {name} and my age is {age}")

Bhai jan name bataenwer
age bataen34
my name is wer and my age is 34

In [88]:
age  = int(input ("age bataen"))
if age > 19:
    print("Adult")
else:
    print("TeenAger")

age bataen20
Adult

In [3]:
age  = int(input ("age bataen"))
if age > 19:
    print("Adult")
else:
    print("No an Adult")

age bataen12
No an Adult

In [24]:
cnic  = input("do you have a valid CNIC ").lower().replace(" ","")

if cnic=="yes":
    print("Go inside")
    nameIsList = input("is your name in voter list")
    if nameIsList =="yes":
        print("You can caste vote")
    else:
        print("you cant caste coz ur name not in list")
else:
    print("you cant caste bring cnic ")

do you have a valid CNIC y               e              s
Go inside
is your name in voter listyes
You can caste vote

In [13]:
"PAKISTAN".lower()

'pakistan'

In [14]:
'pakistan'.upper()

'PAKISTAN'

In [15]:
'pakistan'.title()

'Pakistan'

In [22]:
" yes ".strip()

'yes'

In [23]:
"Pakistan".replace('a',"b")

'Pbkistbn'

In [30]:

ans = ""
license = input("Do yuo have liscence?")
if license=="yes":
    ans = "Jao"
else:
    book = input("Book hy")
    if book=="yes":
        ans ="Jao"
    else:
        ans = "Chai pani"
        
print(ans)

Do yuo have liscence?no
Book hyno
Chai pani

''

In [29]:

if ((input("license")=="yes") and (input("book")=="yes") and (input("money")=="yes")):
    print("Jao")
else:
    print("aao")

licenseno
aao